

<br>

<h1 class="text-center">Lista de productos asincronos</h1>

<div>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        {{#each products}}
        {{#if status}}
        <div class="card" style="margin: 10px 100px">
            <img src={{thumbnail}} width="200px" alt="img - {{thumbnail}}">
            <div class="card-body">
                <p class="card-title">{{category}} - {{title}}</p>
                <p class="card-text">{{description}}</p>
                <button type="button" class="btn btn-primary">Info</button>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>

<footer class="bg-dark text-center text-white footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="m-0 name">Atlas Tech | 2023</p>
    </div>
</footer>